{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>
<div class="container">

<div class="row ">
 <img src= "https://www.centre-inffo.fr/content/uploads/2021/05/quelleformationdigitale.jpg" alt='admin' width="150px" >
<div >

  <h4 class="display-4">Welcome Admin</h4>
<p class="lead">This is your page</p>
</div>
</div>
<br>
<hr class="my-4">

<script>
$(document).ready(function () {
$('#MybtnModal').click(function () {
$('#Mymodal').modal('show')
});
});
</script>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
	Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>


<!-- .modal -->

  <hr class="my-4">
<div id="presidents">Loading...</div>

<!-- Insert this at the end of your body element, but before the closing tag -->
<script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
<script>
	$(function () {
$('#presidents').initDataTables({{ datatable_settings(datatable) }}, {
	    searching: true,
	    dom:'<"html5buttons"B>lTfgitp',
	    buttons: [
	        'copy',
	        { extend: 'pdf', title: 'domains'},
	        { extend: 'print' }
	    ]
	}).then(function(dt) {
	    // dt contains the initialized instance of DataTables
	    dt.on('draw', function() {
	        // alert('Redrawing table');
	    });
});

});
</script>
</div>

  
{% endblock %}