{% extends 'base.html.twig' %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br>

<h1>Welcome to Talan Travel Agency</h1>


  <img  src="https://www.cosmosintl.net/assets/images/banner/travel_crm.jpg" alt="W3Schools.com" width="1000px" height="550px">

<p></p>

{% endblock %}