{# {% extends 'base.html.twig' %}

{% block title %}Hello AJAXController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>


	<br>
	<div class="jumbotron">

		<h1 class="display-3">Welcome User</h1>
		<hr class="my-4">
		<p class="lead">
            <button class="btn btn-primary" type="button" onclick="onClickBtn()">Change Content</button>
            <table class="table">
                <tr>
                    <td>Username</td>
                    <td>Email</td>

                </tr>
                <tr>
                    <td id="username"></td>
                    <td id="email"></td>
                </tr>
            </table>
		</p>
	</div>

{% endblock %}
{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

	<script>
function onClickBtn(event) {
    axios.get("/ajax").then(function(response){
    document.getElementById('username').textContent = response.data.name;
    document.getElementById('email').textContent = response.data.email;
        })
}
document.querySelectorAll('btn-primary').foreach(function(link){
link.addEventListener('click'.onClickBtn);

})
	</script>


{% endblock %} #}
